@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


.cairo{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


*::selection{
    color: white;
    background-color: rgba(187, 125, 231, 0.64);
}



@theme{
    --color-pageColor: #272327;
    --color-darkBG: #1e1c1e;
    --color-purple200: #bb7de7;
    --color-purple200Trans: rgba(255, 255, 255, 0.18);
    --color-purple500: #413149;
    --color-textColor: #d0ccd9;
}

@layer component{
    .nav-list{
        @apply cursor-pointer transition-[.4s] hover:text-purple200
        max-xl:text-xl;
    }

    .card{
        @apply w-[300px] h-[450px] rounded-md bg-purple200 overflow-hidden;
    }

    .card .card-details{
        @apply bg-purple200Trans w-full h-0
        flex-col items-center justify-center gap-8
        flex select-none overflow-hidden;
        transition: .4s;
    }

    .card:nth-child(odd){
        @apply translate-y-16;
    }

    .card:nth-child(even){
        @apply translate-y-[-16px];
    }

    .card .card-details a{
        @apply w-fit flex  p-2 bg-purple200Trans rounded-full;
    }

    .card .card-details a img{
        @apply w-[40px];
    }

    .card:hover .card-details{
        @apply h-full;
    }

    .card:hover{
        box-shadow: 0 0 10px #bb7de7;
    }

    .about-card{
        @apply rounded-md p-8 w-full text-textColor
        leading-[150%] text-2xl
        max-xl:px-0;
    }

    .about-card .text-box{
        @apply w-6/12
        max-xl:w-11/12 max-xl:text-3xl max-xl:leading-[170%];
    }

    .about-card:nth-child(even){
        direction: rtl;
    }

    .service-card{
        @apply flex flex-row items-center gap-4 w-3/12
        max-xl:w-5/12;
    }

    .service-card img{
        @apply w-5 invert;
    }

    .service-card p{
        @apply text-xl text-textColor
        max-xl:text-3xl;
    }

    .skill-card{
        @apply flex flex-col text-textColor w-[350px] h-[450px] gap-4
        border-1 border-purple200 p-4 rounded-lg font-semibold shrink-0
        max-xl:w-[400px] max-xl:h-[550px] max-xl:text-xl;
        box-shadow: 0 0 20px #bb7de7;
    }

    .skill-card svg{
        @apply size-15;
    }

    .skill-card img{
        @apply size-15;
    }

    .social-links{
        @apply py-2 px-4 border-2 border-textColor rounded-2xl bg-pageColor transition-[.4s] cursor-pointer;
    }

    .social-links:hover{
        @apply bg-textColor text-pageColor;
    }
}

body{
    @apply bg-pageColor overflow-x-hidden;
}



