@import 'tailwindcss';
@import 'lenis/dist/lenis.css';


*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


*::selection{
    color: white;
    background-color: rgba(187, 125, 231, 0.64);
}

body{
    @apply bg-pageColor overflow-x-hidden scroll-smooth relative;
}


.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


.cairo{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}





@theme{
    --color-pageColor: #272327;
    --color-darkBG: #1e1c1e;
    --color-purple200: #bb7de7;
    --color-purple200Trans: rgba(255, 255, 255, 0.18);
    --color-purple500: #413149;
    --color-textColor: #d0ccd9;
}

@layer component{

    .scroll-downs {
        margin: auto;
        width :34px;
        height: 55px;
    }

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }

    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
    }


    .bg{
        background: url('./assets/dot.png') ;
        background-size: 10%;
        @apply max-lg:bg-size-[30%];
    }

    .nav-list{
        @apply cursor-pointer transition-[.4s] hover:text-purple200
        max-sm:text-sm
        max-lg:text-xl;

    }

    .card{
        @apply w-[350px] h-[550px] rounded-md bg-purple200 overflow-hidden
        max-sm:w-[40%] max-sm:h-[33vh]
        max-lg:w-4/12 max-lg:h-[39vh];
    }

    .card .card-details{
        @apply bg-purple200Trans w-full h-0
        flex-col items-center justify-center gap-8
        flex select-none overflow-hidden;
        transition: .4s;
    }

    .card:nth-child(odd){
        @apply translate-y-16;
    }

    .card:nth-child(even){
        @apply translate-y-[-16px];
    }

    .card .card-details a{
        @apply w-fit flex  p-2 bg-purple200Trans rounded-full;
    }

    .card .card-details a img{
        @apply w-[40px];
    }

    .card:hover .card-details{
        @apply h-full;
    }

    .card:hover{
        box-shadow: 0 0 10px #bb7de7;
    }

    .about-card{
        @apply rounded-md p-8 w-full text-textColor
        leading-[150%] text-2xl
        max-sm:p-0
        max-lg:p-0;
    }

    .about-card .text-box{
        @apply w-6/12
        max-sm:w-12/12  max-sm:text-sm  max-sm:leading-[170%]
        max-lg:w-10/12  max-lg:text-xl  max-lg:leading-[170%]
    }

    .about-card:nth-child(even){
        direction: rtl;
    }

    .service-card{
        @apply flex flex-row items-center gap-4 w-3/12
        max-sm:w-5/12
        max-lg:w-4/12;
    }

    .service-card img{
        @apply w-5 invert
        max-sm:w-5
        max-lg:w-7;
    }

    .service-card p{
        @apply text-xl text-textColor
        max-sm:text-sm
        max-lg:text-2xl;
    }

    .skill-card{
        @apply flex flex-col text-textColor w-[350px] h-[450px] gap-4
        border-1 border-purple200 p-4 rounded-lg font-semibold shrink-0
        max-sm:w-[250px] max-sm:h-[300px] max-sm:text-[0.65rem] max-sm:gap-4 max-sm:mx-5
        bg-pageColor overflow-hidden;
        box-shadow: 0 0 20px #bb7de7;
    }

    .skill-card svg{
        @apply size-15
        max-sm:size-10;
    }

    .skill-card img{
        @apply size-15
        max-sm:size-10;
    }

    .social-links-container{
        @apply relative my-[2%] max-lg:my-[10%]
        max-lg:w-[95%];
    }

    .white-line-bg{
    @apply absolute w-[80%] h-1 bg-textColor top-[50%] translate-x-[-50%] z-[-1]
        left-[50%]
        max-sm:w-full
        max-lg:w-[90%];
    }

    .SL-card-container{
        @apply flex flex-row w-[60%] justify-between mx-auto items-center text-textColor
        max-sm:w-[90%]
        max-lg:w-[80%];
    }

    .social-links{
        @apply py-2 px-4 border-2 border-textColor rounded-2xl bg-pageColor transition-[.4s] cursor-pointer
        max-sm:text-[0.55rem] max-sm:px-2 max-sm:py-1;
    }

    .social-links:hover{
        @apply bg-textColor text-pageColor;
    }

    .top-arrow{
        @apply fixed right-[2%] bottom-[3%]
        border-1 border-purple200 p-2 rounded-md
        select-none transition-[.4s] cursor-pointer hidden opacity-0 z-99;
    }

    .top-arrow:hover{
        box-shadow: 0 0 8px #bb7de7;
    }
}




