@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


.cairo{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}



@theme{
    --color-pageColor: #272327;
    --color-purple200: #bb7de7;
    --color-purple200Trans: rgba(255, 255, 255, 0.18);
    --color-purple500: #413149;
    --color-textColor: #d0ccd9;
}

@layer component{
    .card{
        @apply w-[400px] h-[600px] rounded-md bg-purple200 overflow-hidden;
    }

    .card:nth-child(odd){
        @apply translate-y-16;
    }
    .card:nth-child(even){
        @apply translate-y-[-16px];
    }

    .card .card-details{
        @apply bg-purple200Trans w-full h-0
        flex-col items-center justify-center gap-8
        transition-[.4s] flex select-none overflow-hidden;
    }

    .card .card-details a{
        @apply w-fit flex;
    }

    .card .card-details a img{
        @apply w-[50px] ;
    }

    .card:hover .card-details{
        @apply h-full shadow-2xl shadow-purple200;
    }

    .about-card{
        @apply rounded-md p-8 w-full text-textColor
        leading-[150%] text-2xl ;
    }

    .about-card .text-box{
        @apply w-6/12;
    }

    .about-card:nth-child(even){
        direction: rtl;
    }



}

body{
    @apply bg-pageColor overflow-x-hidden;
}


